# requirements.txt
 
shapely.geometry
pathlib
# --- Core para Análise de Dados e Machine Learning ---
pandas
numpy
scikit-learn
joblib
scipy

# --- Bibliotecas para Análise Geoespacial ---
# Atenção: a instalação destas pode ser mais complexa
geopandas
osmnx
shapely

# --- Bibliotecas para a Aplicação Web e Visualização ---
streamlit
folium
streamlit-folium
matplotlib
seaborn

# --- Ferramenta para Execução do Pipeline de Notebooks ---
papermill
