# requirements.txt

osmnx 
geopandas 
#pandas 
shapely.geometry
pathlib
#to be continued
# ============================================================
#               DEPENDÊNCIAS DO PROJETO
#      Mapeamento Preditivo do Potencial Turístico
# ============================================================

# --- Core de Análise e Manipulação de Dados ---
pandas==2.2.2
numpy==1.26.4

# --- Machine Learning ---
# Biblioteca principal para pré-processamento, pipelines e modelos.
# Joblib está incluído com scikit-learn.
scikit-learn==1.5.0

# --- Visualização de Dados ---
# Para gráficos estáticos (histogramas, importância de variáveis, etc.)
matplotlib==3.9.0
seaborn==0.13.2

# --- Mapas Interativos ---
# Para a criação do mapa de visualização
folium==0.17.0
